@using Gyldendal.Jini.Web.Common

@{
    Layout = "";
}
<section class="block padded">
    <span class="access-label">Underviserlicens</span>
    <h1>Hvordan skal prisen beregnes?</h1>
    <p ng-show="(jiniData.Validations.indexOf('tab2:teacher:billingModel') != -1) || (jiniData.Validations.indexOf('tab2:teacher:billingPercentage') != -1)" class="jini-msg error std-len"><img src="~/img/icon-cross.png" /> Ups… du mangler at udfylde noget her!</p>
    <label for="billing-foundation">Beregn prisen ud fra følgende enhed</label>
    <div class="control-suffix std-len task-done">
        <div class="control">
            <select kendo-drop-down-list class="jini-dropdown" id="teacherLicense-billing-model-select"
                    k-data-text-field="'DisplayName'"
                    k-spinners="false"
                    k-data-value-field="'DisplayName'"
                    k-ng-model="jiniData.TeacherLicense.BillingModel"
                    k-data-source="jiniData.LookupBillingModels[@((int)Enums.EnumAccessForm.Teacher)]"
                    ></select>
        </div>
    </div>
    @*{{LookupBillingModels[1003]}}*@
    @*{{TeacherLicense.BillingModel}}*@
    <div ng-show="TeacherLicense.BillingModel.ShowPercentage == true">
        <label for="billing-percentage">Procentdel af elevantal</label>
        <div class="control-suffix">
            <div class="control">
                <input id="TeacherLicense-billing-percentage" class="billing-percentage numeric-with-spinner" kendo-numeric-text-box k-min="0"  k-value="0" k-step="1" k-ng-model="TeacherLicense.BillingPercentage" />
            </div>
            <span class="suffix">%</span>
        </div>
        <p class="tip percentage">Tip: 30%</p>
    </div>
    <h1>Hvad er prisen for en enhed?</h1>
    <p class="jini-msg error std-len" ng-show="jiniData.Validations.indexOf('tab2:teacher:pricing') != -1">
        <img src="~/img/icon-cross.png" /> Prisen 0,00 er ugyldig. Angiv venligst en gyldig pris.
    </p>
    <table class="price-table std-len">
        <thead>
            <tr>
                <th>Periode</th>
                <th class="price">Pris (eksl. moms)</th>
                <th class="price">Pris (inkl. moms)</th>
                <th class="check"></th>
            </tr>
        </thead>
        <tbody>
            <tr class="task-done" ng-repeat="period in jiniData.Periods">
                <td>{{period["DisplayName"]}}</td>
                <td class="price">
                    <div class="control-suffix">
                        <div class="control">
                            <input class="price-minus-tax numeric" id="TeacherLicense{{period['DisplayName']}}ExTax"
                                   kendo-numeric-text-box="numeric" k-spinners="false" k-decimals="2" k-min="0" k-step="1"
                                   k-on-spin="onSpinner(period['UnitValue']+' '+period['RefPeriodUnitTypeCode'], @((int) Enums.EnumAccessForm.Teacher))"
                                   ng-model="jiniData.TeacherLicense.Pricing[period['UnitValue']+' '+period['RefPeriodUnitTypeCode']].ExTax"
                                   ng-change="onPriceChange(period['UnitValue']+' '+period['RefPeriodUnitTypeCode'], @((int) Enums.EnumAccessForm.Teacher))"
                                   ng-blur="onPriceChange(period['UnitValue']+' '+period['RefPeriodUnitTypeCode'], @((int) Enums.EnumAccessForm.Teacher))" />
                        </div>
                        <span class="suffix">DKK</span>
                    </div>
                </td>
                <td class="price">
                    <div class="control-suffix">
                        <div class="control">
                            <input id="TeacherLicense{{period['DisplayName']}}IncTax"
                                   class="price-plus-tax numeric inctax"
                                   kendo-numeric-text-box k-min="0" k-value="0" k-step="1" k-spinners="false"
                                   ng-model="jiniData.TeacherLicense.Pricing[period['UnitValue']+' '+period['RefPeriodUnitTypeCode']].IncTax"
                                   ng-change="onPriceChangeIncTax(period['UnitValue']+' '+period['RefPeriodUnitTypeCode'], @((int) Enums.EnumAccessForm.Teacher))"
                                   ng-blur="onPriceChangeIncTax(period['UnitValue']+' '+period['RefPeriodUnitTypeCode'], @((int) Enums.EnumAccessForm.Teacher))"/>
                        </div>
                        <span class="suffix">DKK</span>
                    </div>
                </td>
            </tr>

        </tbody>
    </table>
</section>